/*.container {
    display: flex; *//* Align the table and chart side by side *//*
}
.table-container {
    flex: 1; *//* Make the table container occupy half the space *//*
    margin-right: 20px;
}
.chart-container {
    flex: 1; *//* Make the chart container occupy the other half *//*
}
.new-chart-container {
    margin-top: 20px; *//* Add some space between the charts *//*
}*/


/* Existing styles */
.container {
    display: flex; /* Align the table and chart side by side */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
}
.table-container, .chart-container {
    flex: 1; /* Make the containers occupy equal space */
    margin-right: 20px;
}
.new-chart-container {
    margin-top: 20px; /* Add some space between the charts */
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack items vertically */
    }
    .table-container, .chart-container {
        margin-right: 0; /* Remove right margin */
    }
}



body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #0056b3;
}

/*.table-container {
    width: 40%;
}*/

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: auto; /* Use auto layout for dynamic column width */
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding:8px; /* Reduce padding to minimize extra space */
    white-space: nowrap; /* Prevent text wrapping */
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.radio-buttons-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}
.radio-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0;
}
.radio-row label {
    flex: 2; /* Increase flex value to make labels take more space */
    text-align: center;
}