<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf and jQuery Example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../css/oilstyles.css">
</head>
<body>
<h2>500 Litres of Home Heating Oil</h2>

<button id="fetchDataBtn">Get latest prices</button>
<p></p>
<div class="table-container">
    <table id="dataTable" border="1">
        <thead>
        <tr>
            <th>Supplier </th>
            <th>Cost </th>
            <th>Price per litre</th>
        </tr>
        </thead>
        <tbody>
        <!-- Table rows will be populated here -->
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#fetchDataBtn').on('click', function () {
            $.ajax({
                url: '/prices',
                method: 'GET',
                success: function (data) {
                    var tableBody = $('#dataTable tbody');
                    tableBody.empty(); // Clear existing rows

                    // Populate table with new data
                    $.each(data, function (index, item) {
                        var tableRow = '<tr>' +
                            '<td>' + item.supplierName + '</td>' +
                            '<td>' + item.price + '</td>' +
                            '<td>' + item.pencePerLitre + '</td>' +
                            '</tr>';
                        tableBody.append(tableRow);
                    });
                },
                error: function () {
                    alert('Failed to fetch data');
                }
            });
        });
    });
</script>
</body>
</html>
